{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content%}

        <div class="container container-f ">

            <form method="POST" class="form-login mx-auto ">
                {% csrf_token %}
               
                    <h4 class="text-center mb-2">Reset-Password-confirm</h4>
                    <p>Enter your email address and we will send you instructions to reset your password.</p>
                    <div class="mb-1">
                        {{ form|crispy  }}
                    </div>
                   
               
               
               
                <div class="btn-div">
                    
                    <input type="submit" class="btn btn-primary " value="Confirm-reset" >
    
                </div>
    
            </form>


        </div>
{%endblock content%}